{%- if site.last_updated -%}
    {%- assign last_update = site.translations[site.lang].main.last_update %}
    {% comment %}{% assign date_format = site.translations[site.lang].main.date_format %}{% endcomment %}
    {% comment %}{% assign current_date = "now" | date: date_format %}{% endcomment %}
    {% comment %}{% assign month = current_date | split: ' ' | first %}{% endcomment %}
    {% assign day = "now" | date: "%d" %}
    {% assign year = "now" | date: "%Y" %}

    {% if site.lang == 'en' %}
        {% assign month = "now" | date: "%B" | downcase %}
        {% assign month = site.translations[site.lang].months.long[month] %}
        {% assign current_date = month | append: ' ' | append: day | append: ', ' | append: year %}
    {% else %}
        {% assign month = "now" | date: "%B" | downcase %}
        {% assign month = site.translations[site.lang].months.long[month] %}
        {% assign current_date = day | append: '. ' | append: month | append: ' ' | append: year %}
    {% endif %}
    {% assign last_update_string = last_update | append: ": " | append: current_date %}
    {% assign last_update_html = "<span class='mini-right-dot'></span>" | append: last_update_string %}
{%- endif %}

{% if site.footer_fixed %}
    <footer class="fixed-bottom" role="contentinfo">
        <div class="container mt-0">
            © Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }} <span class="mini-left-dot"></span> {% t main.footer_text -%}
            {%- if site.impressum_path -%}
                <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
            {%- endif -%}
            {{ last_update_html | raw }}
        </div>
    </footer>
{%- else -%}
    <footer class="sticky-bottom mt-5">
        <div class="container">
            © Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}<span class="mini-left-dot"></span>{% t main.footer_text %}
            {%- if site.impressum_path -%}
                <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
            {%- endif -%}
            {{ last_update_html | raw }}
        </div>
    </footer>
{%- endif %}
