<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
            class="repo-img-light w-100"
            alt="{{ include.username }}"
            src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_light }}&locale={{ site.lang }}&show_icons={{ site.repo_user.icons }}"
    >
    <img
            class="repo-img-dark w-100"
            alt="{{ include.username }}"
            src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_user.theme_dark }}&locale={{ site.lang }}&show_icons={{ site.repo_user.icons }}"
    >
  </a>
</div>
<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
  <img
            class="repo-img-light w-200"
            alt="{{ include.username }}"
            src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ include.username }}&theme={{ site.repo_theme_light }}&locale={{ site.lang }}&show_icons={{ site.repo_user.icons }}&langs_count=8&hide=tex,cmake,batchfile&size_weight=0.1&count_weight=0.9&layout=compact"
    >
    <img
            class="repo-img-dark w-200"
            alt="{{ include.username }}"
            src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ include.username }}&theme={{ site.repo_user.theme_dark }}&locale={{ site.lang }}&show_icons={{ site.repo_user.icons }}&langs_count=8&hide=tex,cmake,batchfile&size_weight=0.1&count_weight=0.9&layout=compact"
    >
  </a>
</div>