<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
            class="repo-img-light w-100"
            alt="{{ include.username }}"
            src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_theme_light }}&locale={{ site.lang }}&show_icons={{ site.repo_user.icons }}&hide={{ site.repo_user.states_hide | join:"," }}&show={{ site.repo_user.states_show | join:"," }}&card_width={{ site.repo_user.card_width.statics }}&line_height={{ site.repo_user.line_height }}"
    >
    <img
            class="repo-img-dark w-100"
            alt="{{ include.username }}"
            src="https://github-readme-stats.vercel.app/api/?username={{ include.username }}&theme={{ site.repo_user.theme_dark }}&locale={{ site.lang }}&show_icons={{ site.repo_user.icons }}&hide={{ site.repo_user.states_hide | join:"," }}&show={{ site.repo_user.states_show | join:"," }}&card_width={{ site.repo_user.card_width.statics }}&line_height={{ site.repo_user.line_height }}"
    >
  </a>
</div>

<div class="repo p-2 text-center">
  <a href="https://github.com/{{ include.username }}">
    <img
            class="repo-img-light w-100"
            alt="{{ include.username }}"
            src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ include.username }}&theme={{ site.repo_theme_light }}&locale={{ site.lang }}&show_icons={{ site.repo_user.icons }}&langs_count={{ site.repo_user.langs_count }}&hide={{ site.repo_user.langs_hide | join: "," }}&size_weight={{ site.repo_user.size_weight }}&count_weight={{ site.repo_user.count_weight }}&layout={{ site.repo_user.layout }}&card_width=440px"
    >
    <img
            class="repo-img-dark w-100"
            alt="{{ include.username }}"
            src="https://github-readme-stats.vercel.app/api/top-langs/?username={{ include.username }}&theme={{ site.repo_user.theme_dark }}&locale={{ site.lang }}&show_icons={{ site.repo_user.icons }}&langs_count={{ site.repo_user.langs_count }}&hide={{ site.repo_user.langs_hide | join: "," }}&size_weight={{ site.repo_user.size_weight }}&count_weight={{ site.repo_user.count_weight }}&layout={{ site.repo_user.layout }}&card_width={{ site.repo_user.card_width.top_langs }}"
    >
  </a>
</div>